---
import { SITE, REALISATIONS } from '~/config.mjs';

import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/realisations/List.astro';
import Pagination from '~/components/realisations/Pagination.astro';

import { fetchRealisations } from '~/utils/realisations';
import { TAG_BASE } from '~/utils/permalinks';
import Headline from '~/components/realisations/Headline.astro';
import { getCollection } from 'astro:content';
import { findCategoryByTag } from '~/utils/tag';

export async function getStaticPaths({ paginate }) {
  if (REALISATIONS?.disabled || REALISATIONS?.tag?.disabled) return [];

  const posts = await fetchRealisations();
  const tags = new Set();
  posts.map((post) => {
    Array.isArray(post.tags) && post.tags.map((tag) => tags.add(tag.toLowerCase()));
  });

  return Array.from(tags).map((tag: string) =>
    paginate(
      posts.filter((post) => Array.isArray(post.tags) && post.tags.find((elem) => elem.toLowerCase() === tag)),
      {
        params: { tag: tag, realisations: TAG_BASE || undefined },
        pageSize: REALISATIONS.postsPerPage,
        props: { tag },
      }
    )
  );
}

const { page, tag } = Astro.props;

const currentPage = page.currentPage ?? 1;
const meta = {
  title: `Realisations by tag '${tag}'${currentPage > 1 ? ` — Page ${currentPage} ` : ''}`,
  description: SITE.description,
  noindex: REALISATIONS?.tag?.noindex,
};

const categorie = await findCategoryByTag(tag);
---

<Layout meta={meta}>
  <section class="mx-auto max-w-3xl px-6 py-12 sm:px-6 sm:py-16 lg:py-20">
    <Headline category={categorie}>{categorie.title}</Headline>
    <BlogList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</Layout>
