---
import { Image } from 'astro:assets';

import { REALISATIONS } from '~/config.mjs';
import type { Realisation } from '~/types';

import { findImage } from '~/utils/images';
import { getPermalink } from '~/utils/permalinks';
import Tags from '~/components/realisations/Tags.astro';

export interface Props {
  post: Realisation;
}

const { post } = Astro.props;
const image = await findImage(post.image);

const link = !REALISATIONS?.post?.disabled ? getPermalink(post.permalink, 'realisations') : '';
---

<article class="hoverable:-translate-y-1 mb-6 h-full w-full transition duration-200 ease-out">
  <div class="flex h-full justify-center">
    <div class="flex h-full w-full max-w-sm flex-col rounded-sm bg-white shadow-lg">
      <a href={link} title={post.title || post.accroche || ''}>
        {
          image && (
            <Image
              src={image}
              class="h-96 w-full object-cover object-center"
              widths={[430]}
              width={430}
              height={400}
              sizes="(max-width: 430px) 400px, 430px"
              alt={post.title || post.accroche || ''}
              loading="lazy"
              decoding="async"
            />
          )
        }
      </a>

      <div class="flex flex-1 flex-col p-4 pb-3">
        <div class="space-y-2">
          <a href={link} title={post.title || post.accroche || ''}>
            <h2 class="card-title min-h-12 text-lg leading-tight font-bold">
              {post.title}
            </h2>
          </a>

          <p class="card-accroche min-h-7 leading-relaxed">
            {post.accroche || ''}
          </p>
        </div>

        <div class="mt-auto grid grid-cols-[1fr_auto] items-center gap-2">
          <Tags tags={post.tags} />
          <a
            class="text-primary inline-flex items-center whitespace-nowrap"
            href={link}
            title={post.title || post.accroche || ''}
          >
            Détails
            <svg
              class="ml-2 h-4 w-4"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</article>

<style>
  .card-title,
  .card-accroche {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
  }

  .card-title {
    -webkit-line-clamp: 2;
  }

  .card-accroche {
    -webkit-line-clamp: 1;
  }
</style>
