---
import Grid from '~/components/realisations/Grid.astro';

import { getRealisationsPermalink } from '~/utils/permalinks';
import { findLatestRealisations } from '~/utils/realisations';
import SwiperRealisations from '../widgets/SwiperRealisations.astro';

export interface Props {
  title?: string;
  allRealisationsText?: string;
  allRealisationsLink?: string | URL;
  information?: string;
}

const {
  title = await Astro.slots.render('title'),
  allRealisationsText = 'Voir mes autres réalisations',
  allRealisationsLink = getRealisationsPermalink(),
  information = await Astro.slots.render('information'),
  count = 6,
} = Astro.props;

const posts = await findLatestRealisations({ count });
---

<section class="mx-auto max-w-6xl py-16 lg:py-20">
  <div class="mb-4 flex flex-col lg:flex-row lg:justify-between">
    <div class="pl-6 md:max-w-lg">
      {title && <h2 class="font-heading text-accent text-3xl sm:text-4xl" set:html={title} />}
    </div>

    {information && <p class="text-muted lg:max-w-md lg:text-sm" set:html={information} />}
  </div>

  <!-- <Grid posts={posts} /> -->

  <SwiperRealisations posts={posts} />

  <div class="my-2 text-center">
    {
      allRealisationsText && allRealisationsLink && (
        <a
          class="btn bg-primary text-beige hover:text-secondary mb-2 text-lg transition duration-200 ease-in lg:mb-0"
          href={allRealisationsLink}
          title={allRealisationsText}
        >
          {allRealisationsText} »
        </a>
      )
    }
  </div>
</section>
