---
import Grid from '~/components/realisations/Grid.astro';

import { getRealisationsPermalink } from '~/utils/permalinks';
import { findLatestRealisations } from '~/utils/realisations';

export interface Props {
  title?: string;
  allRealisationsText?: string;
  allRealisationsLink?: string | URL;
  information?: string;
  postIds: string[];
}

const {
  title = await Astro.slots.render('title'),
  allRealisationsText = 'View all posts',
  allRealisationsLink = getRealisationsPermalink(),
  information = await Astro.slots.render('information'),
  count = 4,
} = Astro.props;

const posts = await findLatestRealisations({ count });
---

<section class="mx-auto max-w-7xl px-4 py-16 lg:py-20">
  <div class="mb-8 flex flex-col lg:flex-row lg:justify-between">
    <div class="md:max-w-sm">
      {
        title && (
          <h2
            class="font-heading group mb-2 text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none"
            set:html={title}
          />
        )
      }
      {
        allRealisationsText && allRealisationsLink && (
          <a
            class="text-muted  hover:text-primary mb-6 block transition duration-200 ease-in lg:mb-0"
            href={allRealisationsLink}
          >
            {allRealisationsText} »
          </a>
        )
      }
    </div>

    {information && <p class="text-muted  lg:max-w-md lg:text-sm" set:html={information} />}
  </div>

  <Grid posts={posts} />
</section>
