---
import Grid from '~/components/realisations/Grid.astro';

import { getRealisationsPermalink } from '~/utils/permalinks';
import { findLatestRealisations } from '~/utils/realisations';

export interface Props {
  title?: string;
  allRealisationsText?: string;
  allRealisationsLink?: string | URL;
  information?: string;
}

const {
  title = await Astro.slots.render('title'),
  allRealisationsText = 'Voir mes autres réalisations',
  allRealisationsLink = getRealisationsPermalink(),
  information = await Astro.slots.render('information'),
  count = 3,
} = Astro.props;

const posts = await findLatestRealisations({ count });
---

<section class="mx-auto max-w-7xl px-4 py-20 lg:py-24">
  <div class="mb-8 flex flex-col lg:flex-row lg:justify-between">
    <div class="md:max-w-lg">
      {title && <h2 class="font-heading text-accent mb-2 text-3xl font-bold sm:text-4xl" set:html={title} />}
    </div>

    {information && <p class="text-muted lg:max-w-md lg:text-sm" set:html={information} />}
  </div>

  <Grid posts={posts} />

  <div class="my-4 mt-8 text-center">
    {
      allRealisationsText && allRealisationsLink && (
        <a
          class="btn bg-primary text-beige hover:text-secondary mb-6 text-lg transition duration-200 ease-in lg:mb-0"
          href={allRealisationsLink}
        >
          {allRealisationsText} »
        </a>
      )
    }
  </div>
</section>
