---
import 'photoswipe/style.css';
import 'photoswipe-dynamic-caption-plugin/photoswipe-dynamic-caption-plugin.css';
import { findImage } from '~/utils/images';

export interface Props {
  id: string;
  images: string[];
}

const { id, images } = Astro.props;

type ResolvedImage = {
  url: string;
  width?: number;
  height?: number;
  title: string;
};

const resolvedImages: ResolvedImage[] = (
  await Promise.all(
    images.map(async (image) => {
      const src = await findImage(image);
      if (!src) return null;

      const title = image.slice(0, image.lastIndexOf('.')).slice(image.lastIndexOf('/') + 1);

      if (typeof src === 'string') {
        // Public folder image: findImage returns a URL string
        return { url: src, width: undefined, height: undefined, title };
      } else {
        // src/ folder image: findImage returns ImageMetadata with src, width, height
        const meta = src as { src: string; width: number; height: number };
        return { url: meta.src, width: meta.width, height: meta.height, title };
      }
    })
  )
).filter((img): img is ResolvedImage => img !== null);
---

<style>
  .pswp__dynamic-caption {
    display: none;
  }
</style>

<lightbox-inner data-id={id}>
  {
    resolvedImages.map(({ url, width, height, title }) => (
      <figure
        itemscope
        itemtype="http://schema.org/ImageObject"
        class="inline-block rounded bg-gray-300 text-center text-gray-800 dark:bg-gray-800 dark:text-gray-300"
      >
        <a
          href={url}
          itemprop="contentUrl"
          data-pswp-width={width}
          data-pswp-height={height}
        >
          <img
            src={url}
            alt={title}
            loading="lazy"
            decoding="async"
            class="rounded"
          />
          <span class="pswp-caption-content">{title}</span>
        </a>
      </figure>
    ))
  }
</lightbox-inner>
<script>
  import PhotoSwipeLightbox from 'photoswipe/lightbox';
  import PhotoSwipeDynamicCaption from 'photoswipe-dynamic-caption-plugin';

  class LightboxInner extends HTMLElement {
    constructor() {
      super();

      const id = this.dataset.id;

      const lightbox = new PhotoSwipeLightbox({
        mainClass: 'pswp--custom-icon-colors',
        gallerySelector: '#' + id,
        childSelector: 'a',
        pswpModule: () => import('photoswipe'),
        paddingFn: () => ({
          top: 0,
          bottom: 0,
          left: 0,
          right: 0,
        }),
      });

      new PhotoSwipeDynamicCaption(lightbox, {
        captionContent: '.pswp-caption-content',
        type: 'auto',
      });

      lightbox.init();
    }
  }

  customElements.define('lightbox-inner', LightboxInner);
</script>
